<h1>Welcome to my page! </h1>
<p>
	<b>
Greetings and thanks for stopping by! My passion for software development beckons me to create a 
projects where I channel my creativity, test out ideas, and solve puzzles that pique my interest. 
These ventures serve as a playground for my coding experiments

Feel free to explore, provide feedback, or even collaborate on these projects:
	</b>.
<br>
<table>
  <tbody>
     <tr>
      <td><a href="https://github.com/rachlenko/prometheus"><b>Prometheus monitoring system</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/rachlenko"/></td>
    </tr>
  </tbody>
</table>

